<header class="header-logo" role="banner">
  <div class="container">
      <div class="row align-items-center justify-content-center">
          <div class="col-6 col-md-3">
              <a href="/">
                <img class="img-fluid" src="{{ 'HF_LOGO.png' | asset_img_url: '1200x' }}" />
              </a>
          </div>
      </div>
  </div>
</header>
<div class="container-fluid cf">
  <div id="cf-images" class="row photos">
  </div>
  <div class="row loading-container">
    <img class="mx-auto d-block img-fluid" src="{{ 'Rolling-1s-200px.gif' | asset_img_url: '300x' }}" />
  </div>
</div>