<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>ABOUT</h1>
      <p>Founded in Amsterdam in 2010, ETQ was created as an answer to the luxury trend of over-abundant branding and excessive pricing. Our designs do not confine to fashion - we simply aspire to provide high quality, well-designed essentials for the right price. We work with a minimalistic philosophy, as we believe sustainability and durability are better for us and our world</p>
      <div class="hf-insta">
        <img class="img-fluid" src="{{ 'instagram.png' | asset_img_url: '60x' }}" />
        <p>@HURTFRAMES</p>
        <img class="img-fluid" src="{{ 'hf-about.png' | asset_img_url: '800x' }}" />
      </div>
    </div>
  </div>
</div>
