<div class="container-fluid homepage">
    <div class="row logo-container align-items-center justify-content-center">
        <div class="col-12 col-md-6">
            <img class="img-fluid" src="{{ 'HF_LOGO.png' | asset_img_url: '1200x' }}" />
        </div>
    </div>
    <div class="menu row align-items-center justify-content-center">
        <div class="col-12 col-md-2 menu-link">
            <a href="/pages/contact-us">
                <h3>CONTACT</h3>
            </a>
        </div>
        <div class="col-12 col-md-2 menu-link">
            <a href="/collections/season-one">
                <h3>SHOP</h3>
            </a>
        </div>
        <div class="col-12 col-md-2 menu-link">
            <a href="/pages/cf-4-images">
                <h3>CF 4 IMAGES</h3>
            </a>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Home Page",
    "settings": [
      {
        "type": "checkbox",
        "id": "home_page",
        "label": "Show new and awesome home page I built"
      }
    ],
    "presets": [
      {
        "name": "Home Page",
        "category": "Custom"
      }
    ]
  }
{% endschema %}